body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ed2bb3;
    padding: 20px;
}

#quiz-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #932271;
    max-width: 500px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
}
